DOMAIN=aanbiedingspan.test
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=aanbiedingspan
DATABASE_USERNAME=aanbiedingspan
# Alleen voor de lokale Docker Compose-database. Gebruik elders een uniek secret.
DATABASE_PASSWORD=development-only
ADMIN_USERNAME=beheerder
# Vul hier een bcrypt-hash in, nooit het wachtwoord zelf.
ADMIN_PASSWORD_HASH='$2b$12$replace-with-a-bcrypt-hash'
ADMIN_ROLE=admin
